node_modules/

# don't commit generated builds or env files
src/client/rammerhead.min.js
.env

# don't commit session data
sessions/*

# but commit the empty folders
!sessions/.gitkeep

# ignore any custom configurations
/config.js
