node_modules/

# we're not using npm ci anyway
package-lock.json

# don't commit generated builds
src/client/rammerhead.min.js

# don't commit session data
sessions/*

# but commit the empty folders
!sessions/.gitkeep

# ignore any custom configurations
/config.js
